body {
    display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10px;
  overflow-y: scroll;
  margin: 20;
}

.sok-namn {
    width: 20vw;
}

.container{
    display: flex;
}
.studentWrapper{
    display: grid;
    grid-template-columns: auto auto auto;
}

.teacherN{
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
    border: rgb(0, 0, 0) solid 2px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.respon{
    padding: 15px;
    height: 75px;
    background-color: orange;
    border-radius: 10px;
    border: solid black;
}
.students{
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: solid black;
}

.courses {
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    border: solid black 4px;
}
.resultat > div {
    background-color: rgba(78, 78, 78, 0.5);
    border: solid 2px rgb(107, 107, 107);
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
  }